#div-title {
    display:flex;
    justify-content: center;
}

#div-list {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    text-align: center;
}

li:hover {
    text-decoration: line-through;
}


input {
	padding-top: 30px;
	width: 500px;
	height: 60px;
	font-size: 40px;
	border: 0;
}

input:focus {
	outline:none;
}